factorio_headless_x64_*.xz
debian/.debhelper/
debian/debhelper-build-stamp
debian/factorio-headless.debhelper.log
debian/factorio-headless.substvars
debian/files
debian/factorio-headless
/
.vscode/settings.json
logback.log
debian/factorio-headless.postrm.debhelper
