[Desktop Entry]
Version=1.0
Type=Application

Name=factorio-headless
Comment=Server only for Factorio game
Categories=Game;StrategyGame;

Icon=factorio-headless
Exec=factorio-headless
Terminal=false

