#!/usr/bin/make -f

version = $(shell curl -s  "https://api.github.com/repos/wube/factorio-data/tags" | jq -r '.[0].name')
archive = "factorio_headless_x64_$(version).tar.xz"

%:
	dh $@

override_dh_prep:
	wget -c https://factorio.com/get-download/stable/headless/linux64 -O $(archive)
	dh_prep

override_dh_auto_build:
	dh_auto_build

override_dh_install:
	mkdir -p debian/factorio-headless/usr/share/games
	tar xf $(archive) -C debian/factorio-headless/usr/share/games
	mkdir -p debian/factorio-headless/usr/share/games
	mv       debian/factorio-headless/usr/share/games/factorio debian/factorio-headless/usr/share/games/factorio-headless
	touch debian/factorio-headless/usr/share/games/factorio-headless/.lock
	chmod 666 debian/factorio-headless/usr/share/games/factorio-headless/.lock
	touch debian/factorio-headless/usr/share/games/factorio-headless/factorio-current.log
	chmod 666 debian/factorio-headless/usr/share/games/factorio-headless/factorio-current.log
	dh_install
